.milk-list {
    text-align: center;
    margin-top: 20px;
  }
  
  .milk-list h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%; /* Ajuste a largura conforme necessário */
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f0f0f0;
  }
  